*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
    background-color: #191919;
}

.navbar-menu{
    display: none;
}

header{
    padding: 16px;
}

header .container{
    display: flex;
    align-items: center;
}
.navbar-burger{
    padding: 1rem 0.5rem;
    margin-left: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.navbar-burger .navicon{
    display:block;
    width: 20px;
    height: 2px;
    background-color: #e6b31e;
    position: relative;
}

.navbar-burger .navicon::before,
.navbar-burger .navicon::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color:  #e6b31e;
    position: absolute;   
}
.navbar-burger .navicon::before{
    top: -5px;
}
.navbar-burger .navicon::after{ 
    top: 5px;
}
navbar-logo{
    display: flex;
}

.navbar-search{
    display: flex;
    margin-right: auto;
}
input.searchInput {
    line-height: 18px;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    width: 180px;
}

/*hero section */
section.hero {
    padding: 48px 32px;
}

section.featuredMovies {
    background-image: url(../images/cover.svg);
    background-size: cover;
    background-position: top center;
}
.featured-title {
    color: white;
    font-size: 32px;
}
.featured-overview {
    color: #ffffffb3;
    line-height: 36px;
    text-align: justify;
    font-size: 20px;
    margin: 16px 0;
}
.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #e6b31e;
    padding: 16px 25px;
    font-weight: bold;
    border: 1px solid #e6b31e;
    margin-left: 13px;
}
.button.is-secondary {
    background-color: transparent;
    color: #e6b31e;
}

/*movies*/
.movies {
    padding: 0 32px;
}
.section-title {
    color: white;
    padding: 16px 0;
}
.moviesGrid {
    display: flex;
    overflow: scroll;
    margin-right: 16px;
    list-style-type: none;
}
.movie {
    position: relative;
}
.movie-description {
    display: flex;
    width: 100%;
    padding: 16px;
    background-color: black;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: white;
}
.moviesGrid li:hover .movie-description{
    opacity: 1;
}
.play-icon {
    margin-left: auto;
}